html, body      {height: 100%; color:#4d4d4d; margin: 0; padding: 0; font-size: 13px; font-family:Tahoma, Arial, Helvetica, sans-serif; }
body            {background:#fdffeb;}
table td        {padding: 0px }
p               {margin: 0; padding: 6px 0 5px; }
ul,ol           {margin: 0; padding: 0; }
li              {margin: 0; padding: 0; list-style-type: none;}
form            {padding: 0; margin: 0; }
select          {padding:2px;}
input,h3        {margin:0; padding:0;}
a               {text-decoration: underline; color: #6e9700; cursor:pointer;}
a:hover         {text-decoration: none; cursor:pointer;}
img             {border: 0; margin: 0; padding: 0;}
img, a, span	{outline:none;}
dt,dl,dd        {margin:0; padding:0;}
.clear, .clr    {clear: both; }
dfn {
    font-style:normal;
}


#container{
    width:900px; 
    margin:0 auto; 
    padding:30px 0 30px 0;
    overflow:hidden;
}

#container h1{
    text-align: center;
}

#body {
    float: left;
    width: 390px;
    text-align: center;
}

#sidebar {
    float:left;
    width:450px;
}

#sidebar ul {
    float:left;
    width:250px;
}

#switch_lang {
    display:inline-block;
}

#letsplay_form {
    float:left;
    width:150px;
}

#body table{
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
}

#body table td{
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    background: #fff;
}

#sidebar .free{
    color: #6e9700;
}

#sidebar .busy{
    color: #990000;
}

#body .errors{
    color: #E13300;
    margin-top: 50px;
    background:#fff;
    line-height:30px;
}

#game_field .cross{
    background: url("../images/cross.png") no-repeat center;
}

#game_field .circle{
    background: url("../images/circle.png") no-repeat center;
}

.confirm_game{
    color: #6e9700;
    height: 30px;
    text-align: center;
    padding-top: 15px;
}

.win{
    color: #6e9700;
    height: 20px;
    text-align: center;
    padding-top: 15px;
}

.lose{
    color: #E13300;
    height: 20px;
    text-align: center;
    padding-top: 15px;
}

.game_field {
    margin: 20px 0 20px 0;
    padding: 40px 0 40px 0;
    overflow: hidden;
    border: 0.5px dotted #000;
    border-radius: 10px;
    height: 600px;
}

.game_field h3{
    margin: 20px 0 20px 0;
}

#step_0, 
#step_1,
#step_2{
    font-weight:bold;
}

#letsplay{
    width: 146px;
}

